<configuration>
  <!-- 콘솔 출력 Appender 정의 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- 날짜 / 스레드 / 로그레벨 / pipelineId / 클래스명.메소드명 / 메시지 -->
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- root logger 에 Appender 연결 -->
  <root level="INFO|DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
